.content();

.content() {

	// styles to be inherited by all content
	> header {
		// some common style
	}

	// nlm content types
	&.c5_event {
	}

	.content-frames .frame {
//		.dividers(#eeeeee, hide, show)
	}

	.gform_wrapper {
		border: 1px solid #eee;
		padding: 30px;
//		color: @buttonColor;
		.border-radius();
		input, input[type=text], textarea {
			background: #f9f9f9;
			color: @fontColorBody;
			border: 1px solid #eee;
			.border-radius();
//			.font-size(@fontSizeBody);
			padding: 5px;
			font-size: (@fontSizeBody - 1) * 1px;
		}
		input[type=submit] {
//			.button('submit');
		}
	}


	// styles for site specific content
	.content-custom();
}

.content-custom() {

	// samples
	&.calltoaction {
		> header {
			.article-header {}
			.article-heading {}
			.article-subheading {}
			.article-body {}
			.article-footer {}
		}
		@media (min-width: @cfiveTablet) {
		}
		@media (min-width: @cfiveDesktop) {
		}
	}
	&.benefits {
		ul {
			.bullet-awesome('\f046', 20);
			margin-bottom: 0;
			> li {
				margin-bottom: .3em;
				.font-size(16);
			}
		}
	}
}