//
// Child Specific Frame Styles
//

// custom ot extended styles
.frame-style() {
	&.test-style {
		.frame-style( 'test-style' );
	}
}
// custom or extended color schemes
.frame-scheme() {
	&.test-scheme {
		.frame-scheme( 'test-scheme' );
	}
}
// custom or extended layouts
.frame-layout() {
	&.test-layout {
		.frame-layout('test-layout');
	}
}
// layout overrides for the default frame header
.frame-header-layout() {
	&.test-align {
		.frame-header-layout('test-align')
	}
}


// new styles or overrides for various frame styles
.frame-style( @style ) when (@style = 'test-style') {
}
.frame-scheme( @scheme ) when (@scheme = 'test-scheme') {
	@schemeHeadingColor: red;
	@schemeSubheadingColor: blue;
	@schemeLeadColor: orange;
	@schemeBodyColor: green;
	@schemeBg: pink;
	@schemeHeaderBg: cyan;
	@schemeBodyBg: yellow;
	@schemeFooterBg: cyan;
	@schemeIconColor: purple;
//	.scheme();
}
// layout overrides for various frame layouts
.frame-layout(@layout) when (@layout = 'test-layout') {
}
// layout overrides for various frame header layouts
.frame-header-layout(@layout) when (@layout = 'test-align') {
}
