//
// Child Specific Mixins
//
.circle-image( @size ) {
	width: @size * 1px;
	max-width: @size * 1px;
	height: @size * 1px;
	border-radius: @size/2 * 1px;
	-webkit-border-radius: @size/2 * 1px;
	-moz-border-radius: @size/2 * 1px;
	overflow: hidden;
}
