/* ============================================================

Child Specific Responsive Layout
LAYOUT - responsive

============================================================ */

// FRAMES				==============================

// SITE					==============================
.site() when (@c5Version = 1.0) {
}

// HEADER				==============================
.site-header() {
}

// NAV					==============================
.site-nav() {
}

// BODY					==============================
.site-body() {
}

// FOOTER				==============================
.site-footer() {
}
