//
// Child Specific Variables - Overrides c5 vars
//
@c5Version: 1.0;
//@bodyType: 'applet';
//@headerType: appslide;	// inherits from modernslide

@brandColorPrimary: #38b3b3;
@brandColorSecondary: #b34738;

@defaultGut: 3%;

